/* src/index.css */

body {
  margin: 0;
  padding: 0;
  
  background-color: #0f0f0f; 
  
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}